* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.box {
  border: 2px solid black;
  min-height: 35px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: auto;
}

.btn {
  display: block;
  width: 20%;
}

li {
  list-style: none;
}
