* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* general */
body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.box {
  border: 2px solid black;
  min-height: 35px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: auto;
}
.col {
  flex-direction: column;
}
.btn {
  display: block;
  width: 20%;
}
/* list */
.tesk {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.invisble-input {
  display: none;
}
